scripts/
completion/exp/
completion/core/datasets/__pycache__
loss_functions/__pycache__/
loss_functions/Chamfer3D/build/
loss_functions/Chamfer3D/chamfer_3D.egg-info/
loss_functions/Chamfer3D/dist/
loss_functions/Chamfer3D/__pycache__/
loss_functions/Chamfer4D/build/
loss_functions/Chamfer4D/chamfer_4D.egg-info/
loss_functions/Chamfer4D/dist/
loss_functions/Chamfer4D/__pycache__/
loss_functions/emd/build/
loss_functions/emd/dist/
loss_functions/emd/emd.egg-info/
models/__pycache__/
models/pointnet2_ops_lib/build/
models/pointnet2_ops_lib/pointnet2_ops.egg-info/
models/pointnet2_ops_lib/dist/
imgs/
*.npy
*.h5
testing.ipynb
completion/__pycache__/
completion/core/__pycache__/
completion/utils/__pycache__/
transformer_list.txt